/*
@font-face {
  font-family: "BarlowSemiBold";
  src: local("Barlow-SemiBold-600"),
    url("./fonts/Barlow-SemiBold-600.ttf") format("truetype");
}

@font-face {
  font-family: "FrauncesBlack900";
  src: local("Fraunces-Black-900"),
    url("./fonts/Fraunces-Black-900.ttf") format("truetype");
}

@font-face {
  font-family: "FrauncesBold700";
  src: local("Fraunces-Bold-700"),
    url("./fonts/Fraunces-Bold-700.ttf") format("truetype");
}

//https://stitches.dev/docs/styling

*/
